$themes: (
  light: (
    text: #000,
    bg: #fff,

    gray: #e7e5e4,
    red: #ff6969,

    info: #909399,
    info-1: #f4f4f5,
    success: #67c23a,
    success-1: #f0f9eb,
    warning: #e6a23c,
    warning-1: #fdf6ec,
    error: #f56c6c,
    error-1: #fef0f0,

    admin-menu-bg: #f0f2f5,
    admin-menu-text: #606266,
  ),

  dark: (
    text: #ffffffde,
    bg: #242424,

    gray: #404040,
    red: #b91c1c,

    info: #909399,
    info-1: #202121,
    success: #67c23a,
    success-1: #1c2518,
    warning: #e6a23c,
    warning-1: #292218,
    error: #f56c6c,
    error-1: #2b1d1d,

    admin-menu-bg: #1f1f1f,
    admin-menu-text: #b3b3b3,
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    html.#{$theme} {
      @each $key, $value in $map {
        --#{"" + $key}: #{$value};
      }
    }
  }
}

@include themed;
