:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}

html.dark{
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
}

h1 {
  @apply my-xl text-center text-2xl font-bold
}
